<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <config>
    <!-- Defend against repositoryPath being set somewhere else in the
         environment. The Bond build targets assume that packages is a
         subdirectory of this directory. -->
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>