<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.PSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PSharp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.PSharp.Properties.Settings>
            <setting name="WaitDelay" serializeAs="String">
                <value>100</value>
            </setting>
        </Microsoft.PSharp.Properties.Settings>
        <PSharp.Settings>
            <setting name="WaitDelay" serializeAs="String">
                <value>00:00:01</value>
            </setting>
        </PSharp.Settings>
    </applicationSettings>
</configuration>