<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name ="ResetTests" value="false" />
    <Parameter name ="RunPc" value="true" />
    <Parameter name ="RunPt" value="true" />
    <Parameter name ="RunPrt" value="true" />
    <Parameter name ="RunZing" value="false" />
    <Parameter name ="RunAll" value="false" />
    <Parameter name ="PtWithPSharp" value="false" />
  </TestRunParameters>
</RunSettings>