batch.bat
display-diffs.bat
failed-tests.txt
check
check-tmp.txt
out*
stat
*.dll
*.zing
*.c
*.h
*.cs
stubs.c
program.c
program.h
trace
*.trace
!UnitTests/**/*
UnitTests/bin/**/*
UnitTests/obj/**/*
!UnitTestsCore/**/*
UnitTestsCore/bin/**/*
UnitTestsCore/obj/**/*
!LegacyUnitTests/**/*
LegacyUnitTests/bin/**/*
LegacyUnitTests/obj/**/*
