D:\PLanguage\PLang1001\plang\Tst\RegressionTests\Integration\StaticError\TokenRing_Typos\TokenRing_Typos.p
D:\PLanguage\PLang1001\plang\Tst\RegressionTests\Integration\DynamicError\PushStatement_1\PushStatement_1.p
D:\PLanguage\PLang1001\plang\Tst\RegressionTests\Integration\DynamicError\Actions_6\Actions_6.p
