<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.6.4" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.5-beta001" targetFramework="net461" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.4" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp.Extensions" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.Composition" version="1.0.27" targetFramework="net45" />
  <package id="System.Collections" version="4.0.0" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.0" targetFramework="net45" />
  <package id="System.Linq" version="4.0.0" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.2.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.0.0" targetFramework="net45" />
  <package id="System.Threading" version="4.0.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>