# This workflow will build and test PEx, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: PEx on Ubuntu

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      args:
        description: Additional arguments
        default: ""
        required: false
jobs:
  PEx-Build-And-Test-Ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 8.0.x
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build PEx
        working-directory: Src/PEx
        run: ./scripts/build_and_test.sh --build
      - name: Test PEx
        working-directory: Src/PEx
        run: ./scripts/build_and_test.sh --test
